@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/forms';
@import 'bootstrap/scss/grid';
@import 'bootstrap/scss/buttons';
@import './consts';
@import '@common/ui/MonthBasedCalendar.scss';

.Calendar {
    @include make-container();
}

.Month-weekdayHead {
    display: none;
}

.Month-days {
    @include make-row($gutter: 0);

    > * {
        @include make-col-ready();
    }
}

.DayOuter {
    padding: $calendar-gutter;
}

.DayFiller {
    display: none;
}

.DayOuter {
    display: flex;
    @include make-col($size: 1, $columns: 2);
}

@include media-breakpoint-up(sm) {
    .DayOuter, .WeekdayName {
        @include make-col($size: 1, $columns: 3);
    }
}

@include media-breakpoint-up(md) {
    .DayOuter, .WeekdayName {
        @include make-col($size: 1, $columns: 4);
    }
}

@include media-breakpoint-up(lg) {
    .DayOuter, .WeekdayName {
        @include make-col($size: 1, $columns: 5);
    }
}

@include media-breakpoint-up(xl) {
    .Month-weekdayHead {
        display: block;
        @include make-row($gutter: 0);
        position: sticky;
        top: 0;
        background: white;
        margin-top: -$spacer * 7.5;
        padding-top: $spacer * 7.5;
        z-index: 19;
    }

    .Month-days {
        margin-top: $spacer;
    }

    .DayOuter, .WeekdayName, .DayFiller {
        @include make-col($size: 1, $columns: 7);
    }

    .Day-weekday {
        display: none;
    }

    .DayFiller {
        display: block;
    }
}

.Month {
    margin-left: -$calendar-gutter;
    margin-right: -$calendar-gutter;
}

.Day, .DayFiller {
    padding: 0.5em;
    border-radius: $border-radius;
}

.Day {
    flex: 1;
    border: 1px solid black;
}

.DayFiller {
    border: 1px solid transparent;
}

.WeekdayName {
    text-align: center;
    font-weight: 600;
    font-size: 1.2em;
}

.Day-name {
    font-size: 2em;
    font-weight: 600;
}

.Day-weekday {
    font-weight: 600;
}

.Day-today {
    background: $gray-300;
}
