@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/reboot';
@import 'bootstrap/scss/navbar';
@import 'bootstrap/scss/transitions';
@import 'bootstrap/scss/type';
@import 'bootstrap/scss/card';
@import 'bootstrap/scss/forms';
@import 'bootstrap/scss/root';
@import './consts';

body {
  padding-top: $spacer * 4;
  position: relative;
}

#root {
  max-width: $calendar-width;
  margin: 0 auto;
}

nav.navbar {
  background: $light;
  position: fixed;
  top: 0;
  z-index: 1;
  left: 0;
  right: 0;

  .container {
    max-width: $calendar-width;
    width: 100%;
    margin: 0 auto;
    padding: 0 1em;
  }
}

@include media-breakpoint-down(sm) {
  .hide-small {
    display: none;
  }
}

.navigate {
  max-width: $calendar-width;
  margin-top: $spacer;
  @include make-container();

  .go-year {
    max-width: 7em;
  }

  .go-month, .go-day {
    max-width: 5em;
  }

  .go-button {
    max-width: 3em;
  }
}

.main {
  max-width: $calendar-width;
  margin-top: $spacer;
  @include make-container();

  .card {
    margin-bottom: $spacer;
  }
}

html {
  scroll-padding-top: $spacer * 4;
}

@supports not (scroll-padding-top: 80px) {
  h1, h2, h3, h4, h5, h6, .footnotes li {
    margin-top: -$spacer * 4;
    padding-top: $spacer * 4;
  }
}

a {
  text-decoration: none;
}

.footer {
  background: $light;
  min-height: $spacer * 4;
  padding: ($spacer * 4 - $font-size-base) / 2 0;

  .container {
    width: 100%;
    max-width: $calendar-width;
    margin: 0 auto;
    padding: 0 1em;
  }
}
